@charset "UTF-8";
body {
  color: #2a2a2d;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }

h1, h2, h3, h4 {
  font-weight: normal; }

h1, h2 {
  font-family: 'Nunito', sans-serif; }

.email,
.link {
  color: #008844;
  padding: 1rem;
  margin: -1rem;
  text-decoration: none;
  transition: color .3s; }
  .email:hover,
  .link:hover {
    color: #1dc97f; }
  .email.inverse,
  .link.inverse {
    color: #1dc97f; }
    .email.inverse:hover,
    .link.inverse:hover {
      color: #efefee; }

.divided-list span.divider {
  display: inline-block;
  width: 3rem; }
@media (max-width: 567px) {
  .divided-list > * {
    display: block;
    line-height: 1.5rem; }
  .divided-list span.divider {
    display: none; } }

.page {
  max-width: 100rem;
  padding: 2rem;
  margin: 0 auto;
  text-align: center; }
  .page.footer {
    max-width: initial;
    color: #efefee;
    background: #2a2a2d; }
  .page.fullscreen {
    min-height: 100vh;
    padding: 0; }
  @media print {
    .page {
      padding: 1rem; } }

#about .about-section > * {
  line-height: 2rem;
  margin: 1.6rem 0; }
#about .contacts {
  margin-bottom: 0; }
@media print {
  #about {
    margin-top: 2rem; }
    #about .about-section {
      display: inline-block;
      width: 50%;
      vertical-align: bottom;
      margin: 0; }
      #about .about-section * {
        margin: 0; }
      #about .about-section h1, #about .about-section h2 {
        text-align: left;
        margin-left: 3rem; } }

#work .project,
#personal .project {
  display: inline-block;
  position: relative;
  width: 28rem;
  margin: 1rem 2rem;
  text-align: left;
  vertical-align: top; }
  @media (max-width: 567px) {
    #work .project,
    #personal .project {
      max-width: 80vw;
      margin: 0; } }
  @media print {
    #work .project,
    #personal .project {
      margin-bottom: 0; } }
#work .project-info,
#personal .project-info {
  margin: 1rem 0; }
#work .info,
#personal .info {
  margin: .5rem 0; }
#work .pull-right,
#personal .pull-right {
  text-align: right; }
#work .project-info .title,
#work .project-info .description,
#personal .project-info .title,
#personal .project-info .description {
  display: inline-block; }
#work .project-info .title,
#personal .project-info .title {
  font-weight: 500;
  padding-right: 1rem; }
#work .project-info .description,
#personal .project-info .description {
  color: rgba(42, 42, 45, 0.7);
  font-size: 0.8rem; }
  @media (min-width: 568px) {
    #work .project-info .description,
    #personal .project-info .description {
      float: right;
      line-height: 1rem; } }
#work .project-info .time,
#personal .project-info .time {
  color: rgba(42, 42, 45, 0.7);
  font-size: 0.8rem;
  text-align: right; }
  @media (max-width: 567px) {
    #work .project-info .time,
    #personal .project-info .time {
      text-align: left;
      margin-top: .5rem; } }
#work .work-entry:before,
#personal .work-entry:before {
  content: '• ';
  display: inline; }
#work .tech,
#personal .tech {
  color: rgba(42, 42, 45, 0.7); }
  #work .tech:before,
  #personal .tech:before {
    content: 'TECH: ';
    display: inline; }
#work .hr,
#personal .hr {
  height: 1rem; }
  @media (max-width: 567px) {
    #work .hr,
    #personal .hr {
      height: 2rem; } }
@media print {
  #work h2,
  #personal h2 {
    margin: 0; } }

@media print {
  .no-print {
    display: none; } }

/*# sourceMappingURL=stylesheet.css.map */
