$fg-color: #2a2a2d;
$bg-color: #efefee;

body {
  color: $fg-color;
  background: $bg-color;
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4 {
  font-weight: normal;
  text-shadow: 0 1px 0 white;
}


#navbar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  padding: 8px;
  z-index: 10;

  > span {
    cursor: pointer;
    padding: 8px;

    &:hover {
      opacity: 0.8;
    }
  }
}


.page {
  padding: 42px;
  text-align: center;

  &.dark {
    color: $bg-color;
    background: $fg-color;
  }

  &.fullscreen {
    min-height: 100vh;
    padding: 0;
  }
}


.content {
}


#intro {
  font-family: 'Nunito', sans-serif;
}


#about {
  .tool {
    display: inline-block;
    margin: 12px 32px;
  }
}


#work {
  .project {
    position: relative;
    max-width: 600px;
    margin: 16px auto;
  }

  .project-gallery {
    position: relative;
    background: white;
    background-position: top;
    background-size: cover;
    width: 400px;
    height: 240px;
    margin: 16px auto;
    cursor: pointer;

    &.browsable {
      &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        background: red;
        border-top: 0px solid #ccc;
        border-left: 0px solid #ccc;
        border-right: 0px solid $bg-color;
        border-bottom: 0px solid $bg-color;
        transition: border 0.2s;
      }

      &:hover {
        &:after {
          border-width: 12px;
        }
      }
    }

    &.turned {
      &:after {
        transition: border 0.15s;
        border-width: 0 !important;
      }
    }
  }

  .project-info {
    text-align: left;
  }

  .project-title {
    font-size: 1.2em;
  }

  .project-link {
    display: inline-block;
    color: $fg-color;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 12px;
    margin: 10px 0;
    text-decoration: none;

    &:hover {
      color: $bg-color;
      background: $fg-color;
    }
  }
}


#contact {
}


.clear {
  clear: both;
}
