$fg-color: #2a2a2d;
$bg-color: #efefee;
$subtle-color: rgba( $fg-color, .7 );
$action-color-dark: #008844;
$action-color-dark-hover: #1dc97f;
$action-color-light: #1dc97f;
$action-color-light-hover: #efefee;

body {
  color: $fg-color;
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h1, h2 {
  font-family: 'Nunito', sans-serif;
}

.email,
.link {
  color: $action-color-dark;
  padding: 1rem;
  margin: -1rem;
  text-decoration: none;
  transition: color .3s;

  &:hover {
    color: $action-color-dark-hover;
  }

  &.inverse {
    color: $action-color-light;

    &:hover {
      color: $action-color-light-hover;
    }
  }
}

.divided-list {
  span.divider {
    display: inline-block;
    width: 3rem;
  }

  @media(max-width: 567px) {
    > * {
      display: block;
      line-height: 1.5rem;
    }

    span.divider {
      display: none;
    }
  }
}

.page {
  max-width: 100rem;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;

  &.footer {
    max-width: initial;
    color: $bg-color;
    background: $fg-color;
  }

  &.fullscreen {
    min-height: 100vh;
    padding: 0;
  }
}


#about {
  .content > * {
    line-height: 2rem;
    margin: 1.6rem 0;
  }

  .contacts {
    margin-bottom: 0;
  }
}


#work,
#personal {
  .project {
    display: inline-block;
    position: relative;
    width: 30rem;
    margin: 1rem 2rem;
    text-align: left;
    vertical-align: top;

    @media(max-width: 567px) {
      max-width: 80vw;
      margin: 0;
    }
  }

  .project-info {
    margin: 1rem 0;
  }

  .info {
    margin: .5rem 0;
  }

  .pull-right {
    text-align: right;
  }

  .project-info {
    .title,
    .description {
      display: inline-block;
    }

    .title {
      font-weight: 500;
      padding-right: 1rem;
    }

    .description {
      color: $subtle-color;
      font-size: 0.8rem;

      @media(min-width: 568px) {
        float: right;
        line-height: 1rem;
      }
    }

    .time {
      color: $subtle-color;
      font-size: 0.8rem;
      text-align: right;

      @media(max-width: 567px) {
        text-align: left;
        margin-top: .5rem;
      }
    }
  }

  .work-entry:before {
    content: '• ';
    display: inline;
  }

  .tech {
    color: $subtle-color;

    &:before {
      content: 'TECH: ';
      display: inline;
    }
  }

  .hr {
    height: 1rem;

    @media(max-width: 567px) {
      height: 2rem;
    }
  }
}


#contact {
}
